@model MyAspNetMvcApp.Models.Lessons.Song

<style>
    #bs div {
        border: 2px solid gray;
    }
</style>

<a href="/book3/create" class="btn btn-info">Add Books</a>

<button class="btn btn-primary btn-lg">Button1</button>
<button class="btn btn-danger btn-xs">Danger</button>
<button class="btn btn-default">Cancel</button>


<div id="bs">
    <div class="row">
        <div class="col-md-8 col-xs-6">
            CONTENT HERE 8
        </div>
        <div class="col-md-4 col-xs-6">
            CONTENT HERE 4
        </div>
        <div class="col-md-3">
            CONTENT HERE 3
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            CONTENT HERE 5
        </div>
    </div>

</div>
