@model MyAspNetMvcApp.Areas.Account.Models.UserProfile
@using MyAspNetMvcApp.Areas.BernardGabonDotCom.Models;

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {}

<h1>Hello @Model.FirstName!</h1>


@{
    var moods = new Dictionary<string, string>();
    moods.Add("BSIT 3-M-01", "cTsJ_Irqc0aBG9FGCIRJ7A");
    moods.Add("BSIT 3-P-01", "5f3XV8tqgEKgv45quzuEJA");
    moods.Add("BSIT 3-P-02", "fX5QCiAbJ0aW0CHNmW4czQ");
    moods.Add("BSIT 3-W-01", "rJxes04kXUqTNHMvcFDtfQ");
    moods.Add("BSIT 3-W-02", "_oNWx-pn-E6nMmNtQinDMA");
    moods.Add("BSIT-P 3-A-PUERTO", "1EYccQNkpkCrQpAIAJMmNw");

    var metadata = Newtonsoft.Json.JsonConvert.DeserializeObject<StudentMetadata>(Model.MetaData);
    string mood = moods[metadata.section];

    var encUsername = Gabs.Helpers.EncryptionForUrl.Encrypt(Model.MetaData);

    var encStudentName = Gabs.Helpers.EncryptionForUrl.Encrypt(Model.FirstName + " " + Model.LastName);

    var encSection = Gabs.Helpers.EncryptionForUrl.Encrypt(metadata.section);

    var encMood = Gabs.Helpers.EncryptionForUrl.Encrypt(mood);

    var redirect = HttpUtility.UrlEncode("http://bernardgabon.com/site/student");
}


<a href="http://poordooytify.azurewebsites.net/songlib/create_coc?sec=@encSection&stu=@encStudentName&un=@encUsername&mood=@encMood&redirect=@redirect" class="btn btn-primary btn-lg">Upload Final Recording</a>

@if (metadata.songIds != null && metadata.songIds.Count() != 0)
{
    <hr />
    <h1>Listen to music upload by section</h1>
    <div class="col-md-12">
        <ul>
            @foreach (var m in moods)
            {
                <li>
                    <a href="http://poordooytify.azurewebsites.net/songlib?m=@m.Value" target="_blank">@m.Key</a>
                </li>
            }
        </ul>
    </div>
    <hr />
    <h3>My Uploads</h3>
    <div class="col-md-12">
    <ul>
        @foreach (var songId in metadata.songIds)
        {
            <li>
                <a href="http://poordooytify.azurewebsites.net/music/@songId">Upload ID: @songId</a> 
                <a class="btn btn-danger btn-xs" href="http://poordooytify.azurewebsites.net/songlib/del?songKey=@songId&p=@encUsername&redirect=@redirect" title="Delete" onclick="return confirm('Are you sure?');"><span class="glyphicon glyphicon-trash"></span> </a>
            </li>
        }
    </ul>

    </div>
}

