
@{
    Layout = null;
}

<!DOCTYPE html>

@{ 
    var redirectUrl = "http://poordooytify.azurewebsites.net";
    switch (ViewBag.Redirect as string)
    {
        case "upload": redirectUrl = "http://poordooytify.azurewebsites.net/Songlib/Create";
            break;
        case "mood": redirectUrl = "http://poordooytify.azurewebsites.net/mood";
            break;
        case "dropbox":
            redirectUrl = "https://www.dropbox.com/referrals/AABPsojWd_9sDleX_K0kkdrCOKNAJct_VDQ?src=global9";
            break;
    }
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="Poordooytify by HD-Gabs" />
    <meta property="og:url" content="http://www.bernardgabon.com/poordooytify" />
    <meta property="og:description" content="A poor man's opensource web music player created by HD-Gabs." />
    <title>Poordooytify by HD-Gabs</title>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102101149-1', 'auto');
  ga('send', 'pageview');

    </script>

    <meta http-equiv="refresh" content="0;URL='@redirectUrl'" />


    <style>
        * {
            display:none;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Poordooytify by HD-Gabs</h1>
        <p>A poor man's opensource web music player created by HD-Gabs.</p>
    </div>
</body>
</html>
