<section id="download-section" class="doc-section">
    <h2 class="section-title">Download</h2>
    <div class="section-block">
        <p>
            AspNetMvcGabs is an opensource base template project created by Bernard Gabon for ASP.NET MVC 5. Feel free to explore the source code on <a href="https://github.com/hubert17/AspNetMvcGabs" target="_blank">Github</a>. 
        </p>
        <a href="https://github.com/hubert17/AspNetMvcGabs/archive/master.zip" class="btn btn-green" target="_blank"><i class="fa fa-download"></i> Download </a>
    </div>
</section><!--//doc-section-->

<section id="appsettings-section" class="doc-section">
    <h2 class="section-title">App Settings</h2>
    <div class="section-block">
        <div class="code-block">
            <h6>Go to web.config and update the VALUE of the following app settings.</h6>
            <pre class="language-aspnet"><code class=" language-aspnet">
&lt;appSettings&gt;
    &lt;add key=&quot;AppTitle&quot; value=&quot;Gabs.com&quot; /&gt; &lt;!-- Max 16 characters recommended. --&gt;
    &lt;add key=&quot;AppDescription&quot; value=&quot;Gabs portal for PHINMA-COC IT/Multimedia/Web students.&quot; /&gt;
    &lt;add key=&quot;AppDomainName&quot; value=&quot;http://www.bernardgabon.com&quot; /&gt;
    &lt;add key=&quot;AppDeveloper&quot; value=&quot;Hubert Gabs&quot; /&gt;
    &lt;add key=&quot;AppDevEmail&quot; value=&quot;hewbertgabon@gmail.com&quot; /&gt;
    &lt;!-- Default accounts. Kindly update password or deactivate. --&gt;
    &lt;add key=&quot;AdminUsername&quot; value=&quot;admin1&quot; /&gt;
    &lt;add key=&quot;AdminPassword&quot; value=&quot;password1&quot; /&gt;
    &lt;add key=&quot;TempUsername&quot; value=&quot;user1&quot; /&gt;
    &lt;add key=&quot;TempPassword&quot; value=&quot;userpass1&quot; /&gt;
  
    &lt;add key=&quot;EmailVerificationEnabled&quot; value=&quot;false&quot; /&gt;
&lt;/appSettings&gt;
            </code></pre>
        </div>    
    </div>
</section><!--//doc-section-->

<section id="installation-section" class="doc-section">
    <h2 class="section-title">DO NOT DELETE</h2>
    <div id="step1" class="section-block">
        <h3 class="block-title">File and Folder Structure</h3>
        <p>
            It is advise to delete samples and unneeded files and folders except the following:
        </p>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h6>MyAspNetMvcApp</h6>
                <ul class="list">
                    <li>App_Data</li>
                    <li>App_Start</li>
                    <li>Areas</li>
                    <li>Content</li>
                    <li>
                        Controller
                        <ul>
                            <li>HomeController.cs</li>
                        </ul>
                    </li>
                    <li>fonts</li>
                    <li>Helpers</li>
                    <li>Images</li>
                    <li>Migrations</li>
                    <li>
                        Models
                        <ul>
                            <li>ApplicationDbContext</li>
                            <li>Lookup</li>
                        </ul>
                    </li>
                    <li>Rotativa</li>
                    <li>Scripts</li>
                    <li>
                        ViewModels
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        Views
                        <ul>
                            <li>Home</li>
                            <li>Shared</li>
                            <li>_ViewStart.cshtml</li>
                            <li>Web.config</li>
                        </ul>
                    </li>
                    <li>Global.asax</li>
                    <li>packages.config</li>
                    <li>SignalRHub.cs</li>
                    <li>Startup.cs</li>
                    <li>Web.config</li>
                </ul>
            </div>            
        </div><!--//row-->

    </div><!--//section-block-->
</section>


