@model MyAspNetMvcApp.Areas.OrderFramework.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div class="thumbnail">
    <img class="img-responsive" src="@Model.Picture.ToBase64StringHTMLImgJpgSrc()" width="800" />

    <div class="caption-full">
        <h4 class="pull-right">@Model.UnitPrice</h4>
        <h4>
            <a href="#">@Model.Name</a>
        </h4>
        <a href="#" class="AddLink" data-id="@Model.Id" data-toggle="modal" data-target="#myModal">
            Add to cart
        </a>
    </div>
</div>


@{ Html.RenderPartial("_CheckoutModal"); }


@section Scripts {
    @{ Html.RenderPartial("_CheckoutScript"); }
}