@model MyAspNetMvcApp.Areas.Account.ViewModels.RegisterViewModel

<div class="panel panel-info hidden" id="pnlMoreProfile">
    <div class="panel-heading">
        <h3 class="panel-title">More Profile Info</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-12 col-lg-12 ">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Custom Field 1</td>
                            <td>##############</td>
                        </tr>
                        <tr>
                            <td>Custom Field 2</td>
                            <td>##############</td>
                        </tr>
                        <tr>
                            <td>Custom Field 3</td>
                            <td>##############</td>
                        </tr>
                        <tr>
                            <td>Custom Field 4</td>
                            <td>##############</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
