
<div class="form-group">
    <label for="" class="col-md-4 control-label">Custom Field</label>
    <div class="col-md-8">
        <input type="text" name="custom_field" class="form-control"  />
    </div>
</div>

<div class="form-group">
    <label for="City" class="col-md-4 control-label">City</label>
    <div class="col-md-8">
        <input type="text" name="City" id="City" class="form-control" />
    </div>
</div>