@model List<MyAspNetMvcApp.Models.OrderApp.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .product-img {
        width : 100px;
        height: 100px;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="/storeproducts/index" method="post">
    <input type="text" name="keyword" placeholder="Search" class="form-control" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

Sort: <a href="/storeproducts/index?sort=1">Expensive</a> | <a href="/storeproducts/index?sort=2">Cheapest</a>

@foreach (var item in Model)
{
    <div class="col-sm-6">
        <div class="thumbnail">
            <a href="/storeproducts/details?id=@item.Id">
                <img class="product-img img-thumbnail" src="data:image/jpg;base64,@Convert.ToBase64String(item.Picture)" />
            </a>
            <div class="caption">
                <h4 class="pull-right">@string.Format("{0:C}",item.Price)</h4>
                <h4>
                    <a href="/storeproducts/details?id=@item.Id">@item.Name</a>
                </h4>
            </div>
        </div>
    </div>
}

