body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    margin: 0 0 0 0 !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
}
#footer.footer .navbar-text {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}





.navbar-nav > li > a.dropdown-notif {
    padding-right: 0;
}
.dropdown-messages {
    width: 400px;
    min-width: 0;
}
.dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.dropdown-alerts > li > a, .dropdown-messages > li > a {
    white-space: normal;
}
.dropdown-messages > li > a > div:nth-child(2) {
    font-size:small;
}

.badge-notify {
    background: red;
    position: relative;
    top: -10px;
    left: -12px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
}
.dropdown-alerts .divider, .dropdown-messages .divider {
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-alerts > li > a {
    padding: 10px;
}





/* START OF AWESOMPLETE CUSTOM CSS */
input.form-control::-webkit-calendar-picker-indicator {
    display: none;
}
.awesomplete {
    display: block;
}
/**
* bootstrap's input groups modify the float & z-index of form-controls, this allows awesomplete
* to assume the position of the form-control and reset the input
*/
.input-group div.awesomplete {
    display: block; /*Bootstrap form-control*/
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.input-group div.awesomplete > input {
    float: none;
}

.input-group div.awesomplete > ul {
    z-index: 3; /* bootstrap sets .input-group .form-control to 2 */
}

/* reinstitute initial .form-control border radius when nested within .awesomeplete */
.input-group .awesomplete .form-control {
    border-radius: 4px;
}
/* reinstitute .border-radius squaring within form groups */
.input-group .awesomplete:first-child .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .awesomplete:not(:first-child) .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .awesomplete:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}
/* END OF AWESOMPLETE CUSTOM CSS */