body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    margin: 0 0 0 0 !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
}


.dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.badge-notify {
    background: red;
    position: relative;
    top: -10px;
    left: -12px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
}
.dropdown-alerts .divider {
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-alerts > li > a {
    padding: 10px;
}
