
@{
    ViewBag.Title = "Bootstrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #bs div {
        border:solid 2px black;
        text-align: center;
    }
    body {
        padding-top: 70px;
    }
</style>

<button>Native Button</button>
<button class="btn btn-default">Primary Button</button>
<button class="btn btn-danger btn-lg">Success Button</button>
<button class="btn btn-danger btn-xs">Success Button</button>
<a href="#" class="btn btn-warning">LINK</a>

<div id="bs" class="hidden">
    <div class="row">
        <div class="col-md-4">
            column grid
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            I want this on the next row
        </div>
    </div>
    
    
</div>


