@section RedirectIndexTo {
    @if (Request.QueryString["redirectindexto"] != null && User.IsInRole("student"))
    {
        <script>
            window.location.replace("/site/student");
        </script>
    }
}



@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gabs Portal</h1>
    <p class="lead">@AppSettings.AppDescription</p>
    <p><a href="/Docs/Docs/Index" class="btn btn-primary btn-lg">Read the documentation here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Youtube-K</h2>
        <p>
            A very social karaoke web app. It uses the vast library of karaoke videos in Youtube. Unlike Youtube's built-in <em>Watch Later</em> function, Youtube-K doesn't ask for Google or any login credential. All party goers can simply queue their karaoke titles with their phone using the shared key, that is without even sharing your internet or wifi!
        </p>
        <p><a class="btn btn-default" href="https://youtubek.azurewebsites.net">Get the karaoke party started! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Poordooytify</h2>
        <p>A poor man's opensource web music player created by Bernard Gabon. This is an opensource project. Fill free to play with the code and contribute on <a href="https://github.com/hubert17/Poordooytify" target="_blank">Github</a>!</p>
        <p><a class="btn btn-default" href="http://poordooytify.azurewebsites.net">Upload and Listen! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>Download the code of this Web Application (BernardGabon.com) on Github. This web app is a great base template for any of your future web development projects.</p>
        <p><a class="btn btn-default" href="https://github.com/hubert17/MyAspNetMvcApp" target="_blank">Download &raquo;</a></p>
    </div>

</div>
