@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gabs Portal</h1>
    <p class="lead">For PHINMA-COC IT/Multimedia/Web Students.</p>
    <p><a href="/Docs/Docs/Index" class="btn btn-primary btn-lg">Read the documentation here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET Identity</h2>
        <p>
            <dl>
                <dd>To get the current login user</dd><dt>User.Identity.Name</dt>
                <hr />
                <dd>To check if user is authenticated</dd><dt>if(Request.IsAuthenticated)</dt>
                <hr />
                <dd>To check if user belong to role</dd><dt>if(User.IsInRole("admin"))</dt>
                <hr />
                <dd>Restrict access to a controller or action</dd><dt>Add [Authorize] attribute right above the controller or action</dt>
                <hr />
                <dd>Allow anonymous access to action</dd><dt>Put [AllowAnonymous] attribute right above the action</dt>
                <hr />
                <dd>Restrict access by specific role</dd><dt>Add [Authorize(Roles = @@"admin")] attribute right above the controller or action</dt>
            </dl>
        </p>

        <p><a class="btn btn-default" href="https://www.codeproject.com/Articles/762428/ASP-NET-MVC-and-Identity-Understanding-the-Basics">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>Download the code of this Web Application (BernardGabon.com) on Github. This web app is a great base template for any of your future web development projects.</p>
        <p><a class="btn btn-default" href="https://github.com/hubert17/AspNetMvcGabs" target="_blank">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Poordooytify</h2>
        <p>A poor man's opensource web music player created by Bernard Gabon. This is an opensource project. Fill free to play with the code and contribute on <a href="https://github.com/hubert17/Poordooytify" target="_blank">Github</a>!</p>
        <p><a class="btn btn-default" href="http://poordooytify.azurewebsites.net">Upload and Listen! &raquo;</a></p>
    </div>
</div>