
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="refresh" content="3;URL='http://localhost:49888/chatmvc/messages#end'" />*@   
    <title>Messages</title>

    <style>
        div {
            /*display: flex;*/
            /*flex-direction: column-reverse;*/
        }

    </style>

</head>
<body>
    <div> 
        <p><strong>Bernard: </strong>Hello! How are you.</p>
        <p><strong>Joan: </strong>I'm not ok.</p>
        <p><strong>Bernard: </strong>Pag tsure!.</p>
        <p><strong>James</strong> is joining that chat</p>
        <p><strong>Joan: </strong>Hello James!</p>
    </div>
    <div id="Bottom"></div>


</body>
</html>
